#nav-bar {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 58%,
    rgba(90, 217, 0, 1) 100%
  );
}

.title {
  background: blue;
}
.whoWeAre {
  
  height:100%;
  border-right: solid grey 1px;
}

.whoWeAre > h3 {
  color: blue;
}

#card {
  box-shadow: 0px 5px 10px -5px black;
  border-radius: 20px;
}
