
#nav-bar{
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 58%, rgba(90, 217, 0, 1) 100%);
}

#card-box{
    /* margin: 10px 10px; */
    border: red solid 3px;
    background:#D8D8D8;
    /* height:80vh */
}

